<div *ngIf="userLoginDetails" class="container">
     <div class="row">
          <div class="col-md-12">
               <h1 class="text-center">:USER LOGIN DATA:</h1>
               <hr />
          </div>
          <div class="col-md-4">
               <label>User Name</label>
               <p>{{ userLoginDetails.userName }}</p>
          </div>
          <div class="col-md-4">
               <label>Password</label>
               <p>{{ userLoginDetails.password }}</p>
          </div>
     </div>
</div>
