<div class="row">
     <!--  -->
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-home"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['home']">Home</a>
          </div>
     </div>
     <!--  -->
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-user-alt"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['about']">AboutUs</a>
          </div>
     </div>
     <!--  -->
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-calculator"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['cms-calculator']">Calculator</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-dice-d6"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['lucky-message-generator']">Lucky-message</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-business-time"></i>
               <span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['cms-products']">CMS Business</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-cart-plus"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['add-products']">Add Products</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fab fa-squarespace"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['space-calculator']">Space Calculator</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-tasks"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['to-do-app']">To-do Application</a>
          </div>
     </div>
     <div class="col-md-12">
          <div class="sidebar-button">
               <i class="fas fa-infinity"></i>
               <span>&nbsp;</span><span>&nbsp;</span>
               <a class="sidebar-link" [routerLink]="['counter-app']">CMS Counter Application</a>
          </div>
     </div>

     <!--  -->
     <br /><br /><br /><br /><br />
</div>
