<nav class="navbar navbar-expand-lg navbar-light bg-danger cms-navbar">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>

     <span class="navbar-icon">
          <i class="fab fa-servicestack"></i>
     </span>
     <a class="navbar-brand text-light font-weight-bold" [routerLink]="''">CUSTOM MICRO SERVICE</a>

     <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               <li class="nav-item active">
                    <a class="nav-link text-light" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                    <a class="nav-link text-light" [routerLink]="['/signup']">Signup</a>
               </li>
               <li class="nav-item active">
                    <a class="nav-link text-light" [routerLink]="['/about']">AboutUs</a>
               </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" ngModel name="user-data" type="search" placeholder="Search" aria-label="Search" />
               <button [routerLink]="['../home']" (click)="startComputer()" class="btn btn-outline-white my-2 my-sm-0">Search</button>
          </form>
     </div>
</nav>
