.cms-navbar {
     position: fixed;
     width: 100%;
     padding: 10px 20px;
     z-index: 100;
     background-color: #7635dc !important;
}

.navbar-icon {
     color: white;
     font-size: 28px;
     margin-right: 10px;
}
