<footer class="todo-footerbar text-center text-white">
     <!-- Grid container -->
     <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
               <!-- Google -->
               <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39" href="https://www.google.co.in/" role="button"><i class="fab fa-google"></i></a>

               <!-- Linkedin -->
               <a class="btn text-white btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/rajeev-kumar-aryan-9a0784215/" role="button"><i class="fab fa-linkedin-in"></i></a>
               <!-- Github -->
               <a class="btn text-white btn-floating m-1" style="background-color: #333333" href="https://github.com/70049" role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
     </div>
     <!-- Grid container -->

     <!-- Copyright -->
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2023 Copyright:
          <a class="text-white" href="./">Repositree.com</a>
     </div>
     <!-- Copyright -->
</footer>
