<div class="card cms-card counter-app container text-center mt-5 col-lg-6">
     <h1>{{ CountNumber }}</h1>
     <div class="row mt-5">
          <div class="col-lg-4 mt-3">
               <button class="btn col-lg-12 col-12 btn-dark btn-md" (click)="resetBtn()">Reset</button>
          </div>
          <div class="col-lg-4 mt-3">
               <button class="btn col-lg-12 col-12 btn-success btn-md" (click)="increaseBtn()">Increase Count</button>
          </div>
          <div class="col-lg-4 mt-3">
               <button class="btn col-lg-12 col-12 btn-primary btn-md" (click)="decreaseBtn()">Decrease Count</button>
          </div>
     </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<br />
<app-footer></app-footer>
