.displayData {
     font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
h3 {
     font-family: 'Passions Conflict', cursive;
}
.title-and-action-button {
     display: flex;
     justify-content: space-between;
}
