.main-section {
     margin: 0px;
     padding: 0px;

     .navbar-widget {
          height: 60px;
     }

     .main-widget {
          width: 100%;
          display: flex;
          justify-content: flex-start;

          .sidebar-view {
               width: 275px;
               height: 100vh;
               overflow-y: scroll;
               overflow-x: hidden;
               position: fixed;
               background-color: #8b41ff;
          }

          .router-outlet-view {
               width: 100%;
               margin-left: 275px;
          }
     }
}
.registration-form {
     margin-top: 20px;
}
